* { 
	margin:0; padding:0; 
}

body {
	background-color: #000;
	width:100%; 
	height:100%; 
} 


#canvas {
	background-color: #000;
	display: block;
}
#dummy {
	background-color: #fff;
	display: none;
}
#kandy {
	display: none;
}